<%= form_with scope: :signup, url: signup_index_path, local: true do |form| %>
<div class = "signup-container">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <div class = "field">
        <div class = "label"><%= form.label :Name %></div>
        <div class = "label"><%= form.text_field :name %></div>
    </div>
    
    <div class = "field">
        <div class = "label"><%= form.label :Email %></div>
        <div class = "label"><%= form.text_field :email %></div>
    </div>

    <div class = "field">
         <div class = "label"> <%= form.label :Password %></div>
         <div class = "label"> <%= form.text_field :password %> </div>
    </div>
    
    <div class = "field">
         <div class = "label"> <%= form.check_box :terms_of_service %> Terms</div>
    </div>
    <%= form.submit %>

  </div>
  <a href="/" class = "back"> Back </a>

</div>

<% end %>

<div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
</div>