<div class = "body">
			<h1> Add new Author </h1>
  			<h6> Please fill the following data to insert author details in the database</h6>

  			<%= form_with scope: :author, url: authors_path, local: true do |form| %>
			  <p>
			    <%= form.label :Author_Name %>
			    <%= form.text_field :name %>
			  </p> 
			    <%= form.label :Author_Address %>
			    <%= form.text_area :address  %>
			  </p>
			 
			 <p>
			    <%= form.label :Residential_Country %>
			    <%= form.select(:country, options_for_select(@countries, 0)) %>
			  </p>
			 
			 <p>
			    <%= form.label :Residential_State %>
			    <%= form.select(:state, options_for_select(@states, 0)) %>
			  </p>
			 

			 <p>
			    <%= form.label :Residential_City %>
			    <%= form.select(:city, options_for_select(@cities, 0)) %>
			 </p>
			 
			 <p>
			    <%= form.label :Pincode %>
			    <%= form.text_field :pincode %>
			  </p>
			 
			  <p>
			    <%= form.submit %>
			  </p>
			<% end %>
</div>
			