<%= form_with scope: :login, url: login_index_path, local: true do |form| %>
<div class = "signup-container">
  <div class="container">
    <h1>Login</h1>
    <p>Please login using this form to enter your account</p>
    <hr>

    
    <div class = "field">
        <div class = "label"><%= form.label :Email %></div>
        <div class = "label"><%= form.text_field :email %></div>
    </div>

    <div class = "field">
         <div class = "label"> <%= form.label :Password %></div>
         <div class = "label"> <%= form.text_field :password %> </div>
    </div>
    
    <%= form.submit %>

  </div>
  <a href="/" class = "back"> Back </a>

</div>

<% end %>

<div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
</div>